@charset "utf-8";
/* CSS Document */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    color:black;
    background: #f0f0f0 url(../../images/bg_body.jpg) repeat 0 0;
}

a {
    color:#3373a3;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration:underline;
}

img {
    border: none;
}

p {
    line-height: 150%;
}

h1, h2, h3, h4, h5, h6 {
   color:black;
}

h4, h5, h6 {
    font-size: 12px;
}

blockquote {
    background: #f0f0f0;
    border-left: 5px solid #d7df58;
    margin: 10px 0;
    padding: 10px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 14px;
}

pre {
    overflow: auto;
    border: 1px dotted #ccc;
    margin: 10px 0;
    padding: 10px;
    white-space: pre-wrap;
    background: #fff;
    color: #000;
    white-space: pre-wrap;                 /* CSS3 browsers  */
    white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
    white-space: -pre-wrap;                /* Opera 4 thru 6 */
    white-space: -o-pre-wrap;              /* Opera 7 and up */
    word-wrap: break-word;                 /* IE 5.5+ and up */
}

sup {
    font-size: 10px;
    line-height: 10px;
}

.clear_both {
    clear: both;
    height: 0;
    line-height: 0;
}

.line1, hr {
    height: 1px;
    line-height: 1px;
    background: #dbdbdb;
    /* margin: 0; */
    padding: 0;
    border: none;
}


.line_green1, .line_green2 {
    clear: both;
    background: #c1d82f;
    height: 3px;
    line-height: 3px;
}

a.button {
    background: #c1d82f;
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    border: 1px solid #b0c624;
}

a.button:hover {
    background: #b0c624;
}



/* column style */
.content_padding25 {
    clear: both;
   padding: 10px 25px 0px 25px;
}

.column {
    clear: both;
}

.column .left {
    float: left;
    width: 290px;
}

.column .right {
    float: right;
    width: 400px;
}

/* inside page */
.list_style_number {
    margin: 0 0 0 15px;
    padding: 0 0 0 10px;
    line-height: 150%;
}

.list_style_number li {
    padding: 3px 0 3px 5px;
}

.list_style1 {
    margin: 0;
    padding: 0 0 0 10px;
    list-style: none;
    line-height: 150%;
}

.list_style1 li {
    margin: 0;
    padding: 3px 0 3px 15px;
    background: url("../../images/icon_dot.png") no-repeat 0 10px;
}

/* developer groups */
.develop_groups {
    margin-top: 20px;
}

.develop_groups .group {
    clear: both;
    margin: 0 0 40px 0;
}

.develop_groups .group .icon {
    float: left;
    margin-right: 0;
}

.develop_groups .group .title {
    margin: 0 0 0 80px;
    font-size: 14px;
    font-weight: 700;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #ddd;
}

.develop_groups .group .des {
    margin: 0 0 0 80px;
}

.develop_groups .group .des p {
    margin: 0;
    padding: 7px 0;
}

.develop_groups .group .readmore {
    margin: 0 0 0 80px;
    text-transform: uppercase;
    font-size: 11px;
}

.develop_groups .group .readmore a {
    padding: 0 7px 0 0;
    background: url("../../images/icon_arrow_black.png") no-repeat 100% 50%;
}


/* define table with automatic alternating colors */
.column_right table,
.column_right table.alternate_color {
    border-collapse: collapse;
}

.column_right table th,
.column_right table tr.filters,
.column_right table.alternate_color th {
    background-color: #B1B1B1 !important;
    color: #FFFFFF;
    font-weight: bold;
    padding: 8px;
}

.column_right table td,
.column_right table.alternate_color td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

.column_right table tr:nth-child(2n+1),
.column_right table.alternate_color tr:nth-child(2n+1) {
    background-color: #fff;
}

.column_right table tr:nth-child(2n),
.column_right table.alternate_color tr:nth-child(2n) {
    background-color: #e7e7e7;
}

.column_right table td:first-child {
}

.column_right table.alternate_color th+th,
.column_right table.alternate_color td+td {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.column_right table th+th,
.column_right table td+td {
}

/* list of content */
.overflow {
    overflow: auto;
    max-height: 300px;
}

.table_content {
    border: 1px solid #ddd;
    background: #fff;
    clear: both;
    display: inline-block;
    margin: 0 20px 20px 0;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

.table_content .table_content_title {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.table_content ol {
    padding-left: 20px;
    padding-right: 20px;
    counter-reset: item;
}

.table_content ol li {
    display: block;
}

.table_content ol li:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
}

/* rating */
.rating {
    height: 20px;
    padding: 5px 20px 4px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.rating_star {
    float: left;
    cursor: pointer;
    width: 120px;
    display: block;
}

.rating_text {
    background-color: #F0F0F0;
    border-radius: 3px 3px 3px 3px;
    float: left;
    height: 15px;
    margin-left: 5px;
    padding: 1px 14px 4px 8px;
    text-align: center;
    width: 50px;
}

/* for download list */
.column_right ul {
    padding: 0 0 0 10px;
    list-style: none;
    margin:0px 0px 10px;
}

.column_right ul li {
    margin: 0;
    padding: 5px 0 0px 20px;
    background: url("../../images/icon_dot.png") no-repeat 5px 10px;
}

.table_design ul li {
    padding: 10px 0;
}

.column_right ul li a:hover {
    text-decoration: underline;
}

a.dir, ul.dir li, ul li.dir,
a.directory, ul.directory li, ul li.directory,
a.folder, ul.folder li, ul li.folder {
    padding-left: 25px;
    background: url("../../images/file_folder.png") no-repeat 0 50%;
}

a.link, ul.link li, ul li.link {
    padding-left: 25px;
    background: url("../../images/file_link.png") no-repeat 0 300%;
}

a.pdf, ul.pdf li, ul li.pdf {
    padding-left: 25px;
    background: url("../../images/file_pdf.png") no-repeat 0 55%;
}

a.txt, ul.txt li, ul li.txt {
    padding-left: 25px;
    background: url("../../images/file_txt.png") no-repeat 0 55%;
}

a.video, ul.video li, ul li.video {
    padding-left: 25px;
    background: url("../../images/file_video.png") no-repeat 0 55%;
}

a.cab, ul.cab li, ul li.cab {
    padding-left: 25px;
    background: url("../../images/file_cab.png") no-repeat 0 55%;
}

a.exe, ul.exe li, ul li.exe {
    padding-left: 25px;
    background: url("../../images/file_exe.png") no-repeat 0 55%;
}

a.bin, ul.bin li, ul li.bin {
    padding-left: 25px;
    background: url("../../images/file_bin.png") no-repeat 0 55%;
}

a.xls, ul.xls li, ul li.xls {
    padding-left: 25px;
    background: url("../../images/file_xls.png") no-repeat 0 55%;
}

a.doc, ul.doc li, ul li.doc {
    padding-left: 25px;
    background: url("../../images/file_doc.png") no-repeat 0 55%;
}

.xml, ul.xml li, ul li.xml {
    padding-left: 25px;
    background: url("../../images/file_xml.png") no-repeat 0 55%;
}

a.zip, ul.zip li, ul li.zip {
    padding-left: 25px;
    background: url("../../images/file_zip.png") no-repeat 0 55%;
}

a.compress, ul.compress li, ul li.compress {
    padding-left: 25px;
    background: url("../../images/file_compress.png") no-repeat 0 120%;
}


/* table of software libraries */
table.softlibs_table {
    padding: 0;
    margin: 0;
    border-collapse: separate;
    border: none;
    width: 100%;
    position: relative;
    table-layout: fixed;
}

table.softlibs_table tr {
    border: none;
}

table.softlibs_table tr td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #ddd;
    background: #ededed url("../../images/bg_softlibs_grey.jpg") repeat-x 0 100%;
    box-shadow: inset 1px 1px 0px rgba(255,255,255,0.5);
}

table.softlibs_table tr td:hover {
    border-color: #ccc;
    background: #eee;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
}

table.softlibs_table tr td.product {
    width: 82px;
    padding: 0 10px;
    background: #C1D82F url("../../images/bg_softlibs_line.png") repeat-y 100% 0;
    border-color: #9db312;
    color: #fff;
    font-size: 18px;
}

table.softlibs_table tr td.product a {
    color: #fff;
}

table.softlibs_table tr td.product span.chip_dot_top, table.softlibs_table tr td.product span.chip_dot_bottom {
    position: absolute;
    top: 20px;
    left: 20px;
    background: url("../../images/bg_softlibs_dot.png") no-repeat 0 0;
    width: 7px;
    height: 7px;
    display: inline-block;
}

table.softlibs_table tr td.product span.chip_dot_bottom {
    bottom: 20px;
    top: auto;
}

table.softlibs_table tr td.highlight {
    background: #005187;
    border-color: #000;
    box-shadow: inset 1px 1px 0px rgba(255,255,255,0.2);
    color: #fff;
}

table.softlibs_table tr td.highlight:hover {
    border-color: #000;
    background: #005b8e;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
}

table.softlibs_table tr td.highlight a {
    color: #fff;
}

table.softlibs_table tr td.no_support {
    background: #fff;
    border-color: #ddd;
    box-shadow: inset 1px 1px 0px rgba(255,255,255,0.3);
    color: #ccc;
}

table.softlibs_table tr td.no_support a {
    color: #ccc;
}

/* soft lib slider */
/* for slider */
.simple_slider .slide_title {
    cursor: pointer;
    padding: 7px 10px;
    margin: 0;
    color: #000;
    border-bottom: 1px solid #e7e7e7;
    background: #f3f3f3 url("../../images/icon_arrow_down.png") no-repeat 99% 50%;
}

.simple_slider .slide_title a {
    color: #000;
    cursor: pointer;
}

.simple_slider .active {
    background-image: url("../../images/icon_arrow_up.png");
}

.simple_slider .slide_content {
    display: none;
}

.simple_slider .slide_content p {
    margin: 0;
    padding: 10px 0;
}
.issue-table{
    margin:10px 0;
}
.issue-table table{
    width:100%;
    margin:10px 0;
}
.issue-table table .first{
    width:70px;
}
.issue-table input{
    width: 100%;
    margin: -6px;
}

.issue-table .text-large{
    width: 190px;
}

.issue-table .filter-form{
    margin:10px 0;
}
.issue-table .version-header td{
    color:#fff;
    background: #2774A7;
}

.issue-table .version-desc td{
    color:#333;
    background: #DDEEFF;
    white-space: pre-wrap;
}

.issue-table .version-header td a{
    color:#fff;
}
.issue-table .more-field{
    height:0;
    display:none;
    border: 1px solid #ccc;
    margin:10px 0;
    padding: 0 8px;
}

.issue-table .show-more-field{
    padding:5px;
}

.issue-table table th{ text-align: left;}
.issue-table table th, .issue-table table td{ border-right: 1px solid #ccc; }
.issue-table table th:first-child, .issue-table table td:first-child{ border-left: 1px solid #ccc; }
.column_right .issue-table table tr.odd, .column_right .issue-table table tr:nth-child(2n).odd{ background: #E7E7E7; }
.column_right .issue-table table tr:nth-child(2n){
    background: #fff;
}

.view_mode{
    float:right;
}
.view_mode span{
    padding: 3px 8px;
    display:inline-block;
}

.list-view .pager
{
    padding: 20px;
    text-align: right;
    border-top: 1px solid #e7e7e7;
}

.list-view .pager ul li{
    background:none;
    padding:0;
    margin: 0 2px;
}

.des{
    margin:10px 0;
}

.clearfix{
    clear:both;
    display:block;
}

.cate {
  margin:0;
  padding:0;
}

.product-selector .cate, .product-selector .sub{
    display:block;
    clear:both;
}

.product-selector .sub{
    margin-bottom: 10px;
}

.product-selector h1{
    color: #333;
    margin:0;
    font-size: 22px;
    border-top: 1px solid #bbbbbb;
    margin: 0 -25px;
    padding: 12px 25px;
    margin-top: 25px;
}

.product-selector h2 {
    font-size:22px;
    font-weight:normal;
    border-top: 1px solid #bbbbbb;
    margin: 0 -25px;
    padding: 12px 25px;
    margin-top:25px;
}

.product-selector .sub .t{
    font-size:14px;
    font-weight:normal;
    color:#353535;
}

.product-selector .prod .title{
    font-size:13px; 
    line-height:120%;
    margin-top:5px;
    margin-bottom:5px;
}

.product-selector .prod .title:hover{
    text-decoration:underline;
}

/* -- Tab Content Start -- */

#tab-content-table p{
    padding:0;
    margin:0;
    line-height: 20px;
    margin:0.5em 0;
}

#tab-content-table h1, #tab-content-table h2, #tab-content-table h3,
#tab-content-table h4 {
    margin:0;
    padding:0;
    border:none;
    color:black;
}


#tab-content-table h1 {
    display: block;
    font-size: 2em;
    margin-top: 1.33em;
    margin-bottom: 0.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
}

#tab-content-table h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
    border-top:1px solid #ddd;
    padding-bottom:5px;
    padding-top:12px;
}

#tab-content-table h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 0.78em;
    margin-bottom: 0.19em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
}

#tab-content-table h4 {
    display: block;
    margin-top: 0.66em;
    margin-bottom: 0.16em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
}



/* -- Tab Content End -- */

.product-list {
    float: left;
    width: 25%;
    margin-bottom: 10px;
}
.product-list ul li {
    background-image: none;
    padding-left: 0;
}


/* ================== Bootstrap - Start ==================== */
a.link, ul.link li, ul li.link { background-position:0 110%;}
.article-content ul li {
    margin: 0;
    padding: 5px 0 0px 20px;
}
.article-content table th, .article-content table tr.filters, .article-content table.alternate_color th {
    background-color: #B1B1B1 !important;
    color: #FFFFFF;
    font-weight: bold;
    padding: 8px;
}
.article-content table td, .article-content table.alternate_color td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

.article-content table tr:nth-child(2n), .article-content table.alternate_color tr:nth-child(2n) {
    background-color: #e7e7e7;
}

.table-container
{
    width: 100%;
    overflow-y: auto;
    _overflow: auto;
    margin: 0 0 1em;
}

.right-wrapper table th, .column_right table tr.filters, .right-wrapper table.alternate_color th {
    background-color: #B1B1B1 !important;
    color: #FFFFFF;
    font-weight: bold;
    padding: 4px;
    border-left:1px solid #ddd;
}

.right-wrapper table td, .right-wrapper table.alternate_color td {
    border-bottom: 1px solid #ddd;
    padding: 5px 6px;
}

.issue-table .version-header td {
    background:#3373a3;
}

.issue-table .version-desc td {
    background:#e5edf3;
}

.right-wrapper .issue-table table tr.odd, .right-wrapper .issue-table table tr.odd:nth-child(2n) {
    background-color: #e7e7e7;
}

.right-wrapper table td, .right-wrapper table.alternate_color td {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 8px;
}

.padding25{padding:20px}

@media screen and (max-width: 767px) {
.table_content { display:inherit; margin:inherit;}
}

@media screen and (max-width: 992px) {
    .issue-table{
    overflow-x: scroll;
}
}
/* ================== Bootstrap - Start ==================== */
/* ================== Table - Start ==================== */
.table>thead>tr>th { vertical-align:middle; border-bottom:none;}
.table-responsive{min-height:.01%;overflow-x:auto;width: auto;}
.issue-table table th:first-child, .issue-table table td:first-child {
    width:90px;
}
.issue-table input { margin:0;}
/* ================== Table - End ==================== */

.img-responsive {
    display: inline-block;
}

/* ================== Improve Spaces ==================== */
p{margin:0;}
p, ul, ol {line-height:190%;}
.aside>ul, .table_content ol, .feedback-widget ul {line-height:1.42857143;}
ul, ol {margin-bottom:0px;}
#content_table{margin:10px 0px;}
.right-wrapper h3, .right-wrapper h4 {margin-bottom:3px;}
pre{margin:3px 0;}
.right-wrapper ul>li {padding:0px 0px 0px 20px; background-position:5px 8px;}
.table{margin:4px 0 6px;}
/* ================== Improve Spaces ==================== */

/* ================== Icons only alignment Start ==================== */

a.dir, ul.dir li, ul li.dir,
a.directory, ul.directory li, ul li.directory,
a.folder, ul.folder li, ul li.folder {
    padding-left: 25px;
    background: url("../../images/file_folder.png") no-repeat 0 50%;
}

a.link, ul.link li, ul li.link {
    padding-left: 25px;
    background: url("../../images/file_link.png") no-repeat 0 50%;
}

a.pdf, ul.pdf li, ul li.pdf {
    padding-left: 25px;
    background: url("../../images/file_pdf.png") no-repeat 0 50%;
}

a.txt, ul.txt li, ul li.txt {
    padding-left: 25px;
    background: url("../../images/file_txt.png") no-repeat 0 50%;
}

a.video, ul.video li, ul li.video {
    padding-left: 25px;
    background: url("../../images/file_video.png") no-repeat 0 50%;
}

a.cab, ul.cab li, ul li.cab {
    padding-left: 25px;
    background: url("../../images/file_cab.png") no-repeat 0 50%;
}

a.exe, ul.exe li, ul li.exe {
    padding-left: 25px;
    background: url("../../images/file_exe.png") no-repeat 0 50%;
}

a.bin, ul.bin li, ul li.bin {
    padding-left: 25px;
    background: url("../../images/file_bin.png") no-repeat 0 50%;
}

a.xls, ul.xls li, ul li.xls {
    padding-left: 25px;
    background: url("../../images/file_xls.png") no-repeat 0 50%;
}

a.doc, ul.doc li, ul li.doc {
    padding-left: 25px;
    background: url("../../images/file_doc.png") no-repeat 0 50%;
}

.xml, ul.xml li, ul li.xml {
    padding-left: 25px;
    background: url("../../images/file_xml.png") no-repeat 0 50%;
}

a.zip, ul.zip li, ul li.zip {
    padding-left: 25px;
    background: url("../../images/file_zip.png") no-repeat 0 50%;
}

a.compress, ul.compress li, ul li.compress, a.rar, a.tar, a.gz, a.tgz, a.bz, a.bz2 {
    padding-left:25px;
    background: url("../../images/file_compress.png") no-repeat 0 50%;
}

/* ================== Icons only alignment End ==================== */

/* yii2 - enhancement */

.no-copy::before{ overflow:hidden; content: ' '; }

/* yii2 - end */